nav {
  display: flex;
  justify-content: space-between;
  background: var(--primary_bg);
  padding: 15px 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
nav img {
  width: 180px;
}
ul li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}
ul li:hover {
  background: #fff;
  color: black;
  transition: 0.6s;
  border-radius: 10px;
}
